header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    text-align: center;
    background-color: #fc9d71;
    z-index: 1;
}

main{
    margin-top: 7.5%;
}


#jumpMenu{
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: #f8fd91;
    color: rgb(39, 38, 38);
    text-align: center;
}

main{
    margin-left: 20%;
    padding: 1rem;
}