header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    text-align: center;
    background-color: #fc9d71;
    z-index: 1;
    align-items: center; 
    margin-right: 10%;
}

header p{
    font-size: 2rem;
    margin: 0.5rem;
}

header nav{
    margin-top: 1%;
    background-color: black;
}

header button{
    background-color: #7b8cfa;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5rem;
    margin: 0.2rem;
    font-size: 1rem;
    cursor: pointer;
}

main{
    border-top: 7.5%;
    margin-top: 7.5%;
}


#jumpMenu{
    position: fixed;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: #f8fd91;
    color: rgb(39, 38, 38);
    text-align: center;
}

#jumpMenu a{
    display: block;
    margin: 5px;
    
}

main{
    margin-left: 14%;
    padding: 1rem;
}

#thanks{
    position: fixed;
    left: 93%;
    top: 94%;
    transform: translate(-50%, -50%);
    background-color: #f8fd91;
    padding: 1rem;
    border-radius: 8px;
    z-index: 100;
    text-align: center;
    width: 150px;
}

